/* Tipografía base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  color: #1E90FF;
}

/* Texto secundario */
.text-secondary {
  color: #D3D3D3 !important;
}

/* Botones personalizados */
.btn-gamer {
  background-color: #39FF14;
  color: #db0e0e;
  font-weight: bold;
  border: none;
}
.btn-gamer:hover {
  background-color: #32cc10;
  color: #fff;
}

/* Navbar */
.navbar {
  font-family: 'Orbitron', sans-serif;
}

.navbar-brand span {
  color: #1E90FF;
  letter-spacing: 2px;
}

.nav-link {
  color: #D3D3D3 !important;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #39FF14 !important;
}
